
.hover-fill{
    position: relative;
    width: 285px;
    height: 40px;
    background-color: white;
    color: black;
    overflow: hidden;
    display: flex;
    transition: color 0.8s ease;
}

.hover-fill::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #717343;
    transition: width 0.6s ease;
    z-index: -1;

}

.hover-fill:hover::before {
    width: 100%;

}
.hover-fill span, 
.hover-fill {
    position: relative;
    z-index: 1;

}
.hover-fill:hover {
    color: white;
}
a {
    text-decoration: none;
    color: black;
}

