
.dropdown-item:hover {
    display: flex;
    background-color: #817E55;
    width: 13em;
    height: 2em;
    border-color: black;
    border: 4px;
    border-radius: 6px;
    text-decoration: underline ;

}

body, header, .navbar, .container-fluid {
  margin: 0;
  padding: 0;
}




.barra-de-navegacion {
    background-color:#817E55;
    padding-left: 10px;
    color: #c9936dad;
}
.dropdown-menu {
    background-color: #817E55;
}



.titulo {
    display: flex;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    padding: 50px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-image: url(imagenes/imagen-titulo.jpg);
    background-size: cover;
    background-position: 50% 80%;
    color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
    }



