@use 'variables';
@use 'navbar-y-header';
@use 'footer';
@use 'main';
@use 'media-queries';


/* mapa.html */

main {
    display: block;
    width: 100vw;  
    overflow: hidden;
  }

  main img {
    display: block;
    width: 100%;                  
    height: auto;                  
  }

  .button {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 20px;
  background: #54925F;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 10px;
  height: 20px;
  width: 30px;
  text-align: center;
  justify-content: center;
  z-index: 2;

}

.button:hover {
  background: #769F73;
}

header {
    margin-top: 0px;
}
.mapa-titulo {
    text-align: center;
    justify-content: center;
    margin: 40px;
    font-size: 30px;
}


/* galeria.html */
.btn-danger {
  --bs-btn-bg: #54925F;
  --bs-btn-border-color: #54925F;
  --bs-btn-hover-bg: #769F73;
  --bs-btn-hover-border-color: #769F73;
  --bs-btn-active-bg: #466F4B;
  --bs-btn-active-border-color: #466F4B;
}


.galeria {
  display: flex;
  padding: 30px;
  text-align: center;
  justify-content: center;
  
}

.header-galeria {
  background-color: #466F4B;
  
}
.galeria-botones {
  display: flex;
  justify-content: space-evenly;
}

div div img {
  margin: 10px;
}

.accordion-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A69580;
}


.boton-inicio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #BF7636;
  z-index: 1;
} 


/* nosotros.html*/

.nosotros-titulo {
  padding: 40px;
  background-color: #466F4B;
  text-align: center;
}

.nosotros-subtitulo {
  margin: 20px;
  margin-top: 40px;
  margin-left: 5%;

}

.nosotros-parrafo {
  font-size: 15px;
  margin: 5%;
}

/* proveedores.html */

.proveedores-titulo {
  background-color: #466F4B;
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.logo-palm {
  display: flex;
  justify-content: center;
  padding: 40px;
  scale: .9;
  transition: transform 0.5s ease;

}
.logo-palm:hover {
  transform: scale(1.1);

}

.proveedores-subtitulo {
  margin: 20px;
  margin-bottom: 0;
  padding-left: 8%;
  padding-top: 40px;

}

.logo-ecowindows {
  display: flex;
  justify-content: center;
  scale: .9;
  transition: transform .5s ease;
}

.logo-ecowindows:hover {
  transform: scale(1.1);
}
