*{
    margin: 0;
    padding: 0;
}

nav ul { 
    display: flex;
    list-style: none;
    justify-content: center;
    
}
nav ul li {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

h1 {
    font-size: 90px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    color: antiquewhite;
    font-family: yu 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: rgb(62, 110, 157);
}
a {
    text-decoration: none;
}
a :hover {
    text-decoration: underline;
}

p{
    margin: 8px; 
    color: aliceblue;
}
.footer { 
    margin-top: 40px;
}


h3 {
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 70px;
    margin-bottom: 30px;
}

.imagenes {
    text-align: center;
    margin: 40px;   
}
.banos {
    text-align: center;
    
}
#banos {
    background-color: rgb(62, 110, 157);
}
#cocinas {
    background-color: rgb(62, 110, 157);

}
.cocinas {
    text-align: center;
}
#dormitorios {
    background-color: rgb(62, 110, 157);
}
.dormitorios {
    text-align: center;
}
#espacios-comunes {
    background-color: rgb(62, 110, 157);
}
.espacios-comunes {
    text-align: center  ;
}
#vistas{
    background-color: rgb(62, 110, 157);
}
.vistas {
    text-align: center;
}
#materiales {
    background-color: rgb(62, 110, 157);
}
.materiales {
    text-align: center;
}
#accesos {
    background-color: rgb(62, 110, 157);
}
.accesos {
    text-align: center;
}
#galerias {
    background-color: rgb(62, 110, 157);
}
.galerias {
    text-align: center;
}
.footer {
    display: flex;
    flex-shrink: 1;
}

.principal {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px auto 50px ;
    grid-template-areas: 
    'direccion direccion direccion'
    'proyeccion proyeccion proyeccion'
    'footer footer footer'
}
.direccion {
    background-color: blue;
    grid-area: direccion ;
}
.proyeccion {
    background-color: red;
    grid-area: proyeccion ;
}